<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css"/>

    <title>Non Profit ORG
    </title>
  </head>
  <body>

{{>navbar}}
{{!-- herosection --}}

{{!-- {{>herosection}} --}}
<div class="container-fluid home">
  <div class="row">
    <div class="col-md-10 col-12 m-auto">
      <div class="row">
      <div class="row">
  <div class="column">
    <img src='images/16.jpg' alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src='images/17.jpg' alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src='images/18.jpg' alt="Mountains" style="width:100%">
  </div>
</div>
 <div class="row">
  <div class="column">
    <img src='images/Food-Basket-For-Ramadan-small-1586853551.jpg' alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src='images/Self-Reliant-Program-SOMBOL-small-1670511402.jpg' alt="Forest" style="width:100%">
  </div>
  <div class="column text-white">
     <h2>Team NON PROFIT</h2>
    <h4>This Team Works to Make smile in Poor's Face. Gathering Whole nation to make a beautiful BANGLADESH</h4>
     <button class="homebutton"><a class='nav-link ml-2' href='/projects'>Explore Projects</a></button>
  </div>
</div>
          
          </div>
      </div>
    </div>
  </div>
</div>


{{>about}}
{{>services}}
<div class="btn-center">
 <button class="homebutton"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
</div>




    <script src='../jq/jquery.js' type='text/javascripy'></script>
    <script src='../js/bootstrap.js' type='text/javascripy'></script>

  </body>
</html>




